<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <!-- favicon
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}"> -->

        <title>Jackson Welsh</title>

        <link href="https://fonts.googleapis.com/css?family=Roboto+Slab|Open+Sans&display=swap" rel="stylesheet">
        <script src="https://cdn.jsdelivr.net/npm/confetti-js@0.0.18/dist/index.min.js"></script>

        <link rel="stylesheet" href="/style.css" type="text/css">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Jackson Welsh"/>
    <meta property="og:url" content="https://jacksonwelsh.net"/>
    <style>
        .center-div {
            position: absolute; 
            text-align: center; 
            width: 100%; 
            top: 30%;
            font-family: "Roboto Slab", sans-serif;
            font-size: 1.5rem;
        }
        .villain-center {
            color: gray;
            font-family: 'Open Sans', sans-serif;
            font-size: 1rem;
        }

    </style>
</head>
<body>
<canvas id="confetti-holder">
</canvas>
<div class="center-div">
    <h1 class="hero-center">IT IS YOUR GRADUATION.</h1>
    <h2 class="villain-center">What? It's a statement of fact.</h2>
</div>
<script>
var confettiSettings = 
{"target":"confetti-holder","max":"80","size":"1","animate":true,"props":["square"],"colors":[[127,70,16],[117,117,117]],"clock":"25","rotate":true,"start_from_edge":false,"respawn":true};
var confetti = new ConfettiGenerator(confettiSettings);
confetti.render();
</script>
</body>
</html>
